In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
uploaded = files.upload()

Saving sales_data.csv to sales_data.csv

In [ ]:
sales = pd.read_csv('sales_data.csv')
sales.head()

,order_id,order_date,store_id,region,product_id,product_name,category,quantity,unit_price,revenue
0,1000000,2023-04-13,S29,Central,P04,iPad Air,Tablet,5,14610268,72783520
1,1000001,2024-09-06,S19,South,P02,Samsung S23,Phone,4,18454698,73954866
2,1000002,2023-03-29,S36,East,P05,Apple Watch,Accessory,5,7778167,37931925
3,1000003,2024-10-23,S02,North,P05,Apple Watch,Accessory,5,8218315,40418644
4,1000004,2024-01-21,S21,Central,P08,iPhone 13,Phone,-2,16684779,-32973533

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      200000 non-null  int64
 1   order_date    200000 non-null  object
 2   store_id      200000 non-null  object
 3   region        200000 non-null  object
 4   product_id    200000 non-null  object
 5   product_name  200000 non-null  object
 6   category      200000 non-null  object
 7   quantity      200000 non-null  int64
 8   unit_price    200000 non-null  int64
 9   revenue       200000 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.3+ MB

In [ ]:
sales.describe()

           order_id       quantity    unit_price       revenue
count  2.000000e+05  200000.000000  2.000000e+05  2.000000e+05
mean   1.100000e+06       2.498285  1.219737e+07  3.043886e+07
std    5.773517e+04       2.872634  5.612511e+06  4.099547e+07
min    1.000000e+06      -2.000000  4.000091e+06 -4.194450e+07
25%    1.050000e+06       0.000000  7.500207e+06 -9.482250e+03
50%    1.100000e+06       3.000000  1.450846e+07  2.293229e+07
75%    1.149999e+06       5.000000  1.751109e+07  5.370267e+07
max    1.199999e+06       7.000000  2.049997e+07  1.442462e+08

In [ ]:
sales.isnull().sum()

order_id        0
order_date      0
store_id        0
region          0
product_id      0
product_name    0
category        0
quantity        0
unit_price      0
revenue         0
dtype: int64

In [ ]:
sales['order_id'].duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
199995    False
199996    False
199997    False
199998    False
199999    False
Name: order_id, Length: 200000, dtype: bool

In [ ]:
sales[sales['quantity'] <= 0].shape

(59988, 10)

In [ ]:
sales = sales[sales['quantity']> 0]

In [ ]:
(sales['quantity'] <= 0).sum()

np.int64(0)

In [ ]:
sales[sales['unit_price'] <= 0].shape

(0, 10)

In [ ]:
(sales['unit_price'] <= 0).sum()

np.int64(0)

In [ ]:
sales['new_revenue'] = sales['quantity'] * sales['unit_price']
sales.head()

,order_id,order_date,store_id,region,product_id,product_name,category,quantity,unit_price,new_revenue
0,1000000,2023-04-13,S29,Central,P04,iPad Air,Tablet,5,14610268,73051340
1,1000001,2024-09-06,S19,South,P02,Samsung S23,Phone,4,18454698,73818792
2,1000002,2023-03-29,S36,East,P05,Apple Watch,Accessory,5,7778167,38890835
3,1000003,2024-10-23,S02,North,P05,Apple Watch,Accessory,5,8218315,41091575
5,1000005,2023-01-22,S44,West,P05,Apple Watch,Accessory,6,8417040,50502240

In [ ]:
sales[['quantity','unit_price','new_revenue']].head()

   quantity  unit_price  new_revenue
0         5    14610268     73051340
1         4    18454698     73818792
2         5     7778167     38890835
3         5     8218315     41091575
5         6     8417040     50502240

In [ ]:
sales = sales.drop(columns=['revenue'])

In [ ]:
sales = sales.rename(columns={'new_revenue': 'revenue'})

In [ ]:
sales['order_date'] = pd.to_datetime(sales['order_date'])

In [ ]:
sales['year'] = sales['order_date'].dt.year
sales['month'] = sales['order_date'].dt.month

In [ ]:
output_path = "/content/sales_data_clean.csv"
sales.to_csv(output_path, index=False)

In [ ]:
from google.colab import files
files.download(output_path)