In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
uploaded = files.upload()

Saving sales_data_cleaned.csv to sales_data_cleaned.csv

In [ ]:
sales = pd.read_csv('sales_data_cleaned.csv')
sales.head()

,order_id,order_date,store_id,region,product_id,product_name,category,quantity,unit_price,revenue,year,month
0,1000000,2023-04-13,S29,Central,P04,iPad Air,Tablet,5,14610268,73051340,2023,4
1,1000001,2024-09-06,S19,South,P02,Samsung S23,Phone,4,18454698,73818792,2024,9
2,1000002,2023-03-29,S36,East,P05,Apple Watch,Accessory,5,7778167,38890835,2023,3
3,1000003,2024-10-23,S02,North,P05,Apple Watch,Accessory,5,8218315,41091575,2024,10
4,1000005,2023-01-22,S44,West,P05,Apple Watch,Accessory,6,8417040,50502240,2023,1

In [ ]:
# Tổng revenue theo year và month
monthly_revenue = (sales.groupby(['year','month'])['revenue'].sum().reset_index())
monthly_revenue

    year  month       revenue
0   2023      1  288557518751
1   2023      2  264706469337
2   2023      3  289772291030
3   2023      4  281264917323
4   2023      5  286376596111
5   2023      6  279895438961
6   2023      7  283545907129
7   2023      8  300478163045
8   2023      9  281136349164
9   2023     10  294433392615
10  2023     11  281807370471
11  2023     12  286804782801
12  2024      1  285090079097
13  2024      2  271599218288
14  2024      3  291528562993
15  2024      4  274238054625
16  2024      5  298522704001
17  2024      6  282439405155
18  2024      7  287772628873
19  2024      8  286059258217
20  2024      9  283817814176
21  2024     10  290364567744
22  2024     11  272101049060
23  2024     12  280140417154

In [ ]:
# Revenue theo region
sales.groupby('region')['revenue'].sum().reset_index()

    region        revenue
0  Central  1359509659674
1     East  1363501624247
2    North  1364598537054
3    South  1376878974923
4     West  1357964160223

In [ ]:
# Store-level Analysis
store_revenue=sales.groupby('store_id')['revenue'].sum().reset_index()
store_revenue

   store_id       revenue
0       S01  136695521135
1       S02  137421266345
2       S03  135688584467
3       S04  134171377697
4       S05  145409815950
5       S06  140323408288
6       S07  132297538942
7       S08  135820842956
8       S09  133832787999
9       S10  132937393275
10      S11  141406003004
11      S12  139113194029
12      S13  136528182201
13      S14  135379386393
14      S15  128266171063
15      S16  142459525551
16      S17  146356761032
17      S18  130989362884
18      S19  139840496548
19      S20  136539892218
20      S21  133770473246
21      S22  142955738355
22      S23  133591418938
23      S24  130757853844
24      S25  134858900879
25      S26  134334092658
26      S27  138363346123
27      S28  135468856671
28      S29  138712877271
29      S30  136696101689
30      S31  137454023194
31      S32  132044185391
32      S33  135138205525
33      S34  139049902135
34      S35  136715578338
35      S36  138297362956
36      S37  140864130396
37      S38  134595345880
38      S39  138207325554
39      S40  131135564878
40      S41  133364714406
41      S42  132217267668
42      S43  137923531704
43      S44  140238753489
44      S45  136321662014
45      S46  138356536454
46      S47  135779165987
47      S48  137128394786
48      S49  130349891596
49      S50  136284242119

In [ ]:
top_5_store = store_revenue.sort_values(by='revenue', ascending=False).head(5)
top_5_store

   store_id       revenue
16      S17  146356761032
4       S05  145409815950
21      S22  142955738355
15      S16  142459525551
10      S11  141406003004

In [ ]:
bottom_5_store = store_revenue.sort_values('revenue').head(5)
bottom_5_store

   store_id       revenue
14      S15  128266171063
48      S49  130349891596
23      S24  130757853844
17      S18  130989362884
39      S40  131135564878

In [ ]:
sales.groupby('product_id')['revenue'].sum().reset_index()

  product_id        revenue
0        P01  1396064178412
1        P02  1271190636189
2        P03   420508328241
3        P04  1037407752608
4        P05   559049929409
5        P06   632904677199
6        P07   314096726627
7        P08  1191230727436